{% extends 'layout.twig' %}

{% block content %}

    <section id="administrator">
        <div class="row m-3 p-1">
            <div class="col-12 text-center">
                <h2 class="text-perso2 color-perso2">Bienvenue sur l'espace Adiministration</h2>
            </div>
        </div>

        <div class="row">
            <div class="offset-2 col-8 offset-2 p-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/adminpost">Gérer les articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Gérer les commentaires</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="logout">Me déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}