.bg-perso1 {
    background-color: #E5A5B8 !important;
}

.bg-perso2 {
    background-color: #565656 !important;
}

.bg-perso3 {
    background-color: #F7E9EC !important;
}

.bg-perso4 {
    background-color: #848484 !important;
}

.color-perso2 {
    color: #565656 !important;
}

#home .card {
    min-height: 150px !important;
}