body {
    font-family: 'Open Sans', sans-serif;
    color: #212529 !important;
}

h2, h4 {
    font-family: 'Roboto', sans-serif;
}

.bg-perso1 {
    background-color: #E5A5B8 !important;
}

.bg-perso2 {
    background-color: #565656 !important;
}

.bg-perso3 {
    background-color: #F7E9EC !important;
}

.bg-perso4 {
    background-color: #848484 !important;
}

.color-perso2 {
    color: #565656 !important;
}

.color-perso1 {
    color: #E5A5B8 !important;
}

a:hover {
    text-decoration: none;
    color: #E5A5B8 !important;
}

a {
    color: #848484 !important;
}

#home .card {
    min-height: 150px !important;
}

.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;

    grid-area: 1 / 1 / 2 / 2;
}