{% extends 'layout.twig' %}

{% block content %}

    <section id="addpost">
        <div class="row m-3 p-1">
            <div class="col-12 text-center">
                <h3 class="text-perso2 color-perso2">Créer un article</h3>
            </div>
        </div>

        <form action="/addpost" method="post">

            {{ form|raw }}

            <button type="submit" class="btn btn-outline-success offset-10 col-2 mb-3 p-2">Créer</button>
        </form>
    </section>

{% endblock %}